In [3]:
import pandas as pd

In [4]:
photos = pd.read_csv('answers_photos.csv')

In [25]:
col1 = pd.DataFrame(photos['answer_id'])

In [33]:
col1 = col1.rename(columns={'answer_id': 'id'})

In [68]:
answers = pd.read_csv('answers_cleaned.csv')

In [26]:
col2 = pd.DataFrame(answers['id'])

In [34]:
col1

              id
0              5
1              5
2              5
3              9
4              9
...          ...
1048567  3499412
1048568  3499429
1048569  3499431
1048570  3499432
1048571  3499433

[1048572 rows x 1 columns]

In [36]:
merged = col1.merge(col2, how='left', indicator=True)

In [69]:
merged2 = pd.DataFrame(photos).merge(pd.DataFrame(answers), left_on='answer_id', right_on='id', indicator=True)

In [71]:
merged2 = merged2.loc[merged2['_merge']=='both']

In [72]:
merged2

,id_x,answer_id,url,id_y,question_id,body,date_written,answerer_name,answerer_email,reported,helpful,_merge
0,1,5,https://images.unsplash.com/photo-153051972949...,5,1,Something pretty soft but I can't be sure,1/4/18,metslover,first.last@gmail.com,0,5,both
1,2,5,https://images.unsplash.com/photo-151112708825...,5,1,Something pretty soft but I can't be sure,1/4/18,metslover,first.last@gmail.com,0,5,both
2,3,5,https://images.unsplash.com/photo-150060372022...,5,1,Something pretty soft but I can't be sure,1/4/18,metslover,first.last@gmail.com,0,5,both
3,4,9,https://images.unsplash.com/photo-146314321763...,9,28,Only if you want to ruin it!,1/17/19,warmkid,first.last@cbs.com,1,9,both
4,5,9,https://images.unsplash.com/photo-142178079148...,9,28,Only if you want to ruin it!,1/17/19,warmkid,first.last@cbs.com,1,9,both
...,...,...,...,...,...,...,...,...,...,...,...,...
313573,313638,1048550,https://images.unsplash.com/photo-151353192634...,1048550,298002,Sint quod quas nesciunt in saepe et dolorem.,5/17/19,Bret58,Unique28@gmail.com,0,4,both
313574,313639,1048555,https://images.unsplash.com/photo-150314669589...,1048555,298003,Rerum omnis aliquam est quidem veritatis aut.,11/26/18,Maxie42,Eleanore_Barton52@yahoo.com,0,5,both
313575,313640,1048557,https://images.unsplash.com/photo-150792067666...,1048557,298003,Vero cum impedit aut praesentium.,9/1/18,Isidro.Gottlieb,Sadye45@gmail.com,0,3,both
313576,313641,1048563,https://images.unsplash.com/photo-1548133464-2...,1048563,298005,Maxime rerum amet sit laboriosam aliquid exped...,9/20/18,Eden1,Macey45@yahoo.com,0,14,both
313577,313642,1048567,https://images.unsplash.com/photo-144852647832...,1048567,298005,Dolorum minus harum atque veniam voluptatibus ...,9/6/18,Raoul14,Gilberto.Hansen87@yahoo.com,0,13,both

In [75]:
cleanedPhotos = merged2.drop(columns=['id_y', 'question_id', 'body', 'date_written', 'answerer_name', 'answerer_email', 'reported', 'helpful', '_merge'])

In [79]:
cleanedPhotos = cleanedPhotos.rename(columns={'id_x': 'id'})

In [81]:
cleanedPhotos.to_csv('answer_photos_cleaned.csv')